<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">
<beans>
	<bean id ="autoPilotConfig" class = "com.citigroup.liquifi.autopilot.helper.AutoPilotConfiguration">
		<!-- Defines default step for each test case -->		
		<property name="defaultInputStep">
			<list>
				<bean class = "com.citigroup.liquifi.entities.LFTestInputSteps">
					<property name= "actionSequence" value="1"/>
					<property name= "template" value ="ADMIN_SETUP_ENV"/>
					<property name= "msgType" value ="XML"/>
					<property name= "useOutputMsg" value ="N"/>
					<property name= "topicID" value ="AutoPilotToLiqFiAdmin"/>
				</bean>
			</list>
		</property>

		<!-- Defines default symbol to be use by each security class-->
		<property name="defaultSymbolMap">
			<map>
				<entry key = "5" value = "HOME.L"/>
			</map>	
		</property>
		
		<property name ="debug" value = "false"/>
		<property name ="validateTimeout" value = "5000"/>
		<property name ="serverModeTestCaseQuery" value = " ${TestCase_QueryString} "/>
		<property name ="defaultSecurityClass" value ="5" />
		<property name ="orderTestcases" value ="name" />
		<property name ="highlightedTags" value = "35;150;32;44;38;14;151;" />
		<property name ="completenessCheck" value = "true" />
		<property name ="queryCriteria" value = "TestID,Category,Name,Description,AppName,Region,ReleaseNum,JiraNum" />
	</bean>
</beans>
