<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">
<beans>
	<bean id ="autoPilotConfig" class = "com.citigroup.liquifi.autopilot.helper.AutoPilotConfiguration">
		<!-- Defines default step for each test case -->
		<property name="defaultInputStep">
			<list>
				<bean class = "com.citigroup.liquifi.entities.LFTestInputSteps">
					<property name= "actionSequence" value="1"/>
					<property name= "template" value ="A_SETUP_ETF"/>
					<property name= "msgType" value ="XML"/>
					<property name= "useOutputMsg" value ="N"/>
					<property name= "topicID" value ="AutoPilot.To.TTETF.Admin"/>
				</bean>
			</list>
		</property>

		<!-- defines default symbol to be use by each security class and per instance-->
		<property name="defaultSymbolMap">
			<map>
				<entry key = "1" value = "[1=A|2=P]" />
			</map>	
		</property>
		
		<property name="debug" value = "false"/>
		<property name="validateTimeout" value = "5000"/>
		<property name="serverModeTestCaseQuery" value = " where Active = 'Y' and  TestID ='2454807800324' "/>
		<property name="defaultSecurityClass" value ="1" />
		<property name="orderTestcases" value ="name" />
		<property name="highlightedTags" value = "35;150;32;44;38;14;151;" />
		<property name="completenessCheck" value = "true" />
		<property name="queryCriteria" value = "TestID,Category,Name,Description,AppName,Region,ReleaseNum,JiraNum" />
		<property name="overwriteSendCompSubIDBasedOnConfig" value = "false"/> <!-- do not forceably overwrite -->
	</bean>
</beans>
